h2{
    font-family: Trebuchet MS;
    text-align: center;
    color:#323c3e;
}

h3{
    font-family: Trebuchet MS;
    text-align: center;
    color:#323c3e
}

body{
    position: relative;
    width: 100%;
    margin: 5;
    font-family: Trebuchet MS;
    color: #526d65;
    background-color: #d5f3f0;
}

a:link{
    color: #0aad07;
    font-weight: bold;
    text-decoration: dotted;
}

a:hover{
    color:#891717;
    text-decoration: none;
}

#whole {
    width: 100%;
}

#txt{
    width: 60%;
    float: left;
    left: 10px;
}

#pic{
    width: 50%;
    float: right;
    right: 10 px;
}

#time{
    text-align: center;
}